// Primary

$blue: hsl(246, 80%, 60%);
$light_red_work: hsl(15, 100%, 70%);
$soft_blue: hsl(195, 74%, 62%);
$lime_green: hsl(145, 58%, 55%);
$light_red_study: hsl(348, 100%, 68%);
$violet: hsl(264, 64%, 52%);
$soft_organge: hsl(43, 84%, 65%);

// Neutral

$very_dark_blue: hsl(226, 43%, 10%);
$dark_blue: hsl(235, 46%, 20%);
$desaturated_blue: hsl(235, 45%, 61%);
$pale_blue: hsl(236, 100%, 87%);

// Typography

$fs-18: clamp(1rem, 2.5vw, 2rem);
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

*,
**::before,
**::after {
	box-sizing: border-box;
	padding: 0;
	border: 0;
}

body {
	font-size: $fs-18;
	background-color: $very_dark_blue;
	font-family: "Rubik", sans-serif;
	vertical-align: baseline;
	overflow: auto;
	min-height: 100vh;
	margin: 0;
}

.core__main {
	display: grid;
	min-height: 100vh;
	overflow: auto;
	margin: 4em 1.4em;
	align-self: center;
	justify-self: center;
}

.cards {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	// grid-template-columns: .5fr 1fr;
}

.card__user {
	display: flex;
	flex-direction: column;
	border-radius: 0.4em;
	background-color: $dark_blue;
	margin-bottom: 2em;

	.card__report {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		background-color: $blue;
		border-radius: 0.4em;
		padding: 1.5em;

		.card__img {
			max-width: 100%;
			width: 4em;
			border: 3px solid white;
			border-radius: 50%;
		}

		.card__report__top {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-left: 1em;

			.card__description {
				color: $pale_blue;
				font-size: 1rem;
			}

			.card__title {
				margin: 0;
				color: $pale_blue;
				font-weight: 300;
				font-size: clamp(1.6rem, 2.5vw, 1.5rem);
			}
		}
	}

	.card__actions {
		display: flex;
		justify-content: space-between;
		padding: 1.5em;

		&__item {
			color: $pale_blue;

			&--active {
				color: white;
			}
		}
	}
}

.card__content {
	display: grid;
	grid-template-columns: 1fr;

	&__generic {
		position: relative;
		border-radius: 2em;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		.card__head {
			display: flex;
			justify-content: flex-end;
			border-top-left-radius: 0.8em;
			border-top-right-radius: 0.8em;
			max-height: 50px;
			overflow: hidden;

			&--light_red {
				background-color: $light_red_work;
			}

			&--soft_blue {
				background-color: $soft_blue;
			}

			&--light_red_study {
				background-color: $light_red_study;
			}

			&--lime_green {
				background-color: $lime_green;
			}

			&--violet {
				background-color: $violet;
			}

			&--soft_organge {
				background-color: $soft_organge;
			}

			&__icon {
				position: relative;
				top: -0.5em;
				width: 79px;
				height: 79px;
				margin-right: 1.2em;
			}
		}

		.card__footer {
			background-color: $dark_blue;
			border-radius: 1em;
			z-index: 2;
			position: relative;
			top: -15px;
			padding: 2em 1em;

			.card__footer__top {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.card__title {
					font-size: clamp(1rem, 2.5vw, 2rem);
					color: white;
					font-weight: $fw-400;
				}
			}

			.card__footer__bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.card__current {
					margin: 0;
					color: white;
					font-weight: 200;
					padding-top: 0.2em;
				}
				.card__previous {
					color: white;
					font-weight: 100;
				}
			}
		}
	}
}

.attribution {
	font-size: 12px;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
	}
}
