// Primary

$blue: 'hsl(246, 80%, 60%)';
$light_red: 'hsl(15, 100%, 70%)';
$soft_blue: 'hsl(195, 74%, 62%)';
$lime_green: 'hsl(145, 58%, 55%)';
$light_red: 'hsl(348, 100%, 68%)';
$violet: 'hsl(264, 64%, 52%)';
$soft_organge: 'hsl(43, 84%, 65%)';

// Neutral

$very_dark_blue: 'hsl(226, 43%, 10%)';
$dark_blue: 'hsl(235, 46%, 20%)';
$desaturated_blue: 'hsl(235, 45%, 61%)';
$pale_blue: 'hsl(236, 100%, 87%)';

// Typography

$fs-18: clamp(1rem, 2.5vw, 2rem);
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
